requests
pymysql
bs4
pytest
pysocks
pony
#cryptography
dash
dash-renderer
dash-html-components
html5lib
flask
dash_table_experiments
plotly
pandas
aiohttp
aiodns
aiosocks==0.2.6
dash-core-components==0.13.0-rc5